<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3qj-8UdyFdLl3bXHeW153akfYEDULE5s</string>
	<key>GCM_SENDER_ID</key>
	<string>390459483661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jasperHeatlhApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jaspersample-1b93e</string>
	<key>STORAGE_BUCKET</key>
	<string>jaspersample-1b93e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390459483661:ios:83f429b63deea06ec01744</string>
</dict>
</plist>